<form method="GET" action="" class="form">
    <label>
        Nombre de lettres
        <select name="number-letters" id="number-letters">
            <option id="6"> 6 </option>
            <option id="5"> 5 </option>
            <option id="4"> 4 </option>
            <option id="3"> 3 </option>
        </select>
    </label>
    <label>
        Nombre d'essais
        <select name="max-attempts" id="max-attempts">
            <option id="5"> 5 </option>
            <option id="4"> 4 </option>
            <option id="3"> 3 </option>
            <option id="2"> 2 </option>
        </select>
    </label>
    <div id="start-game"> Démarrer la partie </div>
    <!-- <button type="submit" id="start-game"> Démarrer la partie </button> -->
</form>