@import "../../../assets/conf";

.form {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &>label>select {
        margin: 0 0.8rem;
        padding: 0.2rem;
    }

    &>button {
        @include resetButton {
            background-color: #aed9c9;
            padding: 0.8rem;
            border-radius: 1rem;
        };
    }
}