<div class="words" >
    <form class="boxes" *ngFor="let i of maxAttempts" [formGroup]="wordForm" (ngSubmit)="onSubmit()">
        <input type="text" id="letter" class="box" *ngFor="let i of nbLetters; let index = index" [formControlName]="'letter'+index"maxlength="1"/>
        <button type="submit" [disabled]="!wordForm.valid" class="boxes__button">Submit</button>
    </form>
</div>