<div class="keyboard">
    <div class="keyboard__line">
        <div id="" *ngFor="let letter of azertyKeyboard[0]" class="boxe"> <p>{{letter}}</p> </div>
    </div>
    <div class="keyboard__line">
        <div id="" *ngFor="let letter of azertyKeyboard[1]" class="boxe"> <p>{{letter}}</p> </div>
    </div>
    <div class="keyboard__line">
        <div id="" *ngFor="let letter of azertyKeyboard[2]" class="boxe" > <p (click)="clickOnLetter(this.letter)">{{letter}}</p> </div>
        <div id="A" class="boxe"> <lucide-icon name="skip-back" class="icon"> </lucide-icon> </div>
        <div id="A" class="boxe"> <lucide-icon name="log-in" class="icon"> </lucide-icon> </div>
    </div>
</div>
